{  
    margin: 0;  
    padding: 0;  
}

header, footer, aside, nav, article {  
    display: block;  
}

body {
	background-image:url('/static/img/mixer_en_cans.jpg');
	background-size: 100%;
	/*background-color: #eee;*/
	background-attachment: fixed;
	width: 940px;
	margin: 0 auto;
	margin-bottom : 30px;
	border : grey solid 0px;
	font: 13px/22px Helvetica, Arial, sans-serif;
}

h1 {
	color: #2554C7;
	font-size: 42px;
	padding: 22px 0;
}

h2 {
	color: #2554C7;
	font-size: 28px;  
	padding: 11px 0;  
}  

h3 {
	color: #2554C7;
	font-size: 18px;  
	line-height: 22px;  
	padding-left: 6px; 
	padding-top: 2px;
	padding-bottom: 0px;
}  

p {
	color: #2554C7;
	padding-bottom: 22px;  
}


#header{
	width: 100%;
	height: 120px;
	font-color: #000000;
	margin-left: 0px;
    margin-top: 22px;  
    padding: 0px;  
    background: #000000 url("/static/img/banner5.jpg") top left no-repeat;  
    background-size: 100%;  
    border-radius: 22px;  
	/* Background-size not implemented yet */  
	-webkit-background-size: 100%;  
    -o-background-size: 100%;  
    -khtml-background-size: 100%;  

    /* Border-radius not implemented yet */  
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;
}


nav {  
	margin-top: 4px; 
	width: 940px;  
	height: 25px;
	background-color: rgba(10, 10, 10, 0.40);
	-moz-border-radius: 3px;  
    -webkit-border-radius: 3px;
}

nav ul {  
	margin: 0 auto;  
	width: 940px;  
	list-style: none;
}
	
nav ul li {
	float: left;  
}

nav ul li, nav ul li a {  
	display: block;  
    margin-right: 20px;  
    width: 210px;  
    font-size: 14px;  
    line-height: 28px;  
    text-align: center;  
    text-decoration: none;  
	color: #2554C7;
}

form {
	padding: 20px;
}

form #search {
	font-size: 40px;
}

a img {
	border:none;

}

div {
	/*background-color: #ADADAD;*/
	background-color: rgba(10, 10, 10, 0.40);
	color: #2554C7;
	/*border: solid 1px;*/
	padding-left : 0;
	-moz-border-radius: 3px;  
    -webkit-border-radius: 3px;
}

span {
	border:  1px;
	padding-left : 0;
}

.latest{
	margin-top:10px;	
}

.description{
	margin-top:-57px;
	margin-left:60px;
}

.menu{
	float:right;
	width:15%;
	margin-top:150px;	
}

ul{
	border : red 1px;
	margin-left:0;
	padding-left : 0;
}

li {
	border:  black 1px;
	border-collapse:collapse;
	list-style-type:none;
	margin-left:0;
}

li.result:nth-child(2n){
	background-color : #666666;
}
li.result:nth-child(2n) > a{
	color : white;
}

li.result:nth-child(2n+1){
	background-color: rgba(10, 10, 10, 0.40);
}


li.result:nth-child(2n+1) > a{
	color: white;
}

a {
	color: #2554C7;
	text-decoration:none;
}

#playerLinks a {
	color: #AAAAAA;
	padding: 3px;
	background-color: rgba(10, 10, 10, 0.30);
	-moz-border-radius: 5px;  
    -webkit-border-radius: 5px;
}

a:hover{
	color: #DDDDDD;
	text-decoration:none;
}

#playerLinks a:hover {
	border: solid 1px;
}

.eplist{
	color : red;	
	margin-left:20px;
	padding-left:20px;
}


}

#search{
	width : 85%;
	height : 40px;
	outline : none;	
	font-size : 1.5em;
	color : black;
	border : solid grey 2px;
	margin : 0 0 0 0;
	background-color : transparent;
}

.finddiv{
	height:60px;
}

#find{
	padding:10px 10px 10px 10px;
	font-size : 2em; 
	border: solid black 1px;
	margin-left :15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background : -webkit-gradient(linear, 0 0, 0 100%, from(#888888),to(#cccccc));
	background: -moz-linear-gradient(top, #888888,#cccccc);
 
}
#find > a{
	color : black;
}

#find:hover > a{
	color : white;
	text-decoration:none;
}

#find:hover{
	background : -webkit-gradient(linear, 0 0, 0 100%, from(#882222),to(#cc9999));
	background: -moz-linear-gradient(top, #882222,#cc9999);
}

#content { 
	margin-top:50px;
		display: block;	
}  
  
#mainContent {  
	display: block;
	float: left;
	height: 100px;
    width: 600px;  
}  

aside { 
	display: block;
	float: right; 
    width: 300px; 
	margin-bottom: 100px;
}

#allresults {
		display: block;
}

#movieResults {
	display: block;
	float: left;
	width: 280px;
	padding: 10px;
}

#showResults {
	display: block;
	float: right;
	width: 280px;
	padding: 10px;
}

#confirm {
	padding-left: 0px;
}

#subform {
	width: 400px;
	height: 130px;
		display: block;
}

#subformlabels {
	display: block;
	float: left;
}

#subforminputs {
	display: block;
	float:left;
}

#loginscroll {
	background-color: rgba(10, 10, 10, 0.80);
	height: 180px;
	width: 200px;
	margin-bottom: 20px;
	position: absolute;
	z-index:100;
}

#latest img {
	width: 50px;
	height: 50px;
}

#detailsFields {
	background-color: rgba(0, 0, 0, 0.15);
	margin-left: 40px;
	padding-left: 20px;
	margin-right: 380px;
}

#detailsFields li {
	margin-bottom: 5px;
}

#playerLinks {
	float: left;	
	margin-right: 20px;
}

#postedBy{
	margin-left: 50px;
	margin-right: 20px;
	float:right;
}

#thumbsLatest{
	height: 50px;
	width: 50px;
	margin-bottom: 10px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.0);
}

#elemInLatest {
	background-color: rgba(0, 0, 0, 0.0);
	margin-bottom: 8px;
}

#player {
	margin-right: 50px;
	background-color: rgba(0, 0, 0, 0.0);
}

#reported {
	color: #993344;
	font-style:italic;
}

#detailsImage {
	margin-right: 20px;
	display:block;
	float:right;
	width:300px;
	background-size: 100%;
}

a.confirm {
	margin-left: 8px;
}