<!DOCTYPE HTML>
<html lang="en">


<head>
		<script type="text/javascript" src="/static/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<title>FindOST.com | {{obj.title}}</title>
</head>
	
<body>
	<header>
		<a href='/home'><div id='header' class='center'></div></a>
	</header>
		
	<nav>
		<div id='menu'>
			<ul>
				<li><b>{{message}}</b></li>
				{% if isauth %}
				<li><a href="/logout"><b>Log out</b></a></li>
				{% else %}
				<li><a href="#" class='show-button'><b>Log in</b></a><div id="loginform" style="display:none;"><div id="loginscroll">
				<form action='/login' method='post' name='loginform' id='loginform'>
					{% csrf_token %}
					<p>
						<label for="username">User Name</label>
						<input name="username" id="username" type="text" required />

						<label for="passwd">Password</label>
						<input name="passwd" id="passwd" type="password" required />

						<input name="path" id="path" type="hidden" value="{{path}}" />

						<input type="submit" value="log in"/>
					</p>
				</form>
				</div></div></li>
				<li><a href="/showsubscribe"><b>New User</b></a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
		

	<div>
		<ul>
		<br/>
		{% if isauth %}
		<div class="detailsFields"><span class='playerLinks'><a href='{{obj.id}}/edit'>Edit</a></span></div>
		{% else %}
		<span>Log in to add more info </span>
		{% endif %}
		
		<div id="detailsImage">
		{% if obj.show.imageurl %}
		<img src="{{obj.show.imageurl}}" width="280px">
		{% endif %}
		{% if obj.imageurl %}
		<img src="{{obj.imageurl}}" width="280px">
		{% endif %}
		</div>
					
		{% if obj.show.title %}
			<li>
				<h3>Show : {{obj.show.title}}</h3>
				<div class="detailsFields">season : {{obj.seasonnb}}, episode : {{obj.number}}</div>		
			</li>
			{% if obj.title %}
				<div class="detailsFields"><li><h4>Title : {{obj.title}}</h4></li></div>
			{% endif %}
		{% else %}
			{% if obj.title %}
				<li><h3>Title : {{obj.title}}</h3></li>
			{% endif %}
		{% endif %}
		{% if obj.otitle %}
			<li>Original title : {{obj.otitle}}</li>
		{% endif %}
		
		<div class="detailsFields">
		{% if obj.director %}
			<li>Director : {{obj.director}}</li>
		{% endif %}
		
		{% if obj.show.director %}
			<li>Director : {{obj.director}}</li>
		{% endif %}
		
		{% if obj.producer %}
			<li>Producer : {{obj.producer}}</li>
		{% endif %}
		
		{% if obj.composer %}
			<li>Original Music Composer : {{obj.composer}}</li>
		{% endif %}

		{% if obj.show.startingyear %}
			<li>Starting year of the show : {{obj.show.startingyear}}</li>
		{% endif %}

		{% if obj.show.status != None %}
			<li>Show still running : {{obj.show.status}}</li>
		{% endif %}


		{% if obj.trailerurl %}
			<li><a href='{{obj.trailerurl}}'>Trailer URL</a></li>
		{% endif %}

		{% if obj.language %}
			<li>Language : {{obj.language}}</li>
		{% endif %}
		
		{% if obj.cameouton %}
			<li>Came out on : {{obj.cameouton}}</li>
		{% endif %}
		
		{% if obj.genre %}
			<li>Genre : {{obj.genre}}</li>
		{% endif %}
		
		{% if obj.mainactors.all %}
			<br>
			<li>
				Main Actors :
				<ul>
					{% for actor in obj.mainactors.all %}
						<li>{{actor.name}}</li>
					{% endfor %}
				</ul>
			</li>
		{% endif %}
		{% if obj.show.mainactors.all %}
			<br>
			<li>
				Main Actors :
				<ul>
					{% for actor in obj.show.mainactors.all %}
						<li>{{actor.name}}</li>
					{% endfor %}
				</ul>
			</li>
		{% endif %}
		</div>
	
		{% if obj.songs.all %}
			<li>
				<h4>Original Soundtrack :</h4>
				<div class="detailsFields">
				<ul>
					{% for song in obj.songs.all %}	
						<li id='info{{song.id}}'>
							<b>{{song.title}} by {{song.artist}}</b>
							<span id="postedBy"><i>Song posted by {{song.postedby}}</i></span><br>						
							{% if song.songid > 0 %}
							<div id="player"><div style='display:none;' id='player{{song.songid}}'>
								<object width="492" height="40"> 
								<param name="movie" value="http://listen.grooveshark.com/songWidget.swf"> 
								<param name="wmode" value="window"> <param name="allowScriptAccess" value="always"> 
								<param name="flashvars" value="hostname=cowbell.grooveshark.com&amp;songIDs={{song.songid}}&amp;style=metal&amp;p=0"> 
								<embed src="http://listen.grooveshark.com/songWidget.swf" type="application/x-shockwave-flash" width="450" height="40" flashvars="hostname=cowbell.grooveshark.com&amp;songIDs={{song.songid}}&amp;style=metal&amp;p=0" allowscriptaccess="always" wmode="window">
								</object>
								
								{% if isauth %}	
									{% if user == song.reportedby %}
									<span class='playerLinks'><a  href='{{obj.id}}/unreport/{{song.id}}'>Cancel Report</a></span>
									{% endif %}
									{% if not song.reported %} 
									<span class='playerLinks'><a href='{{obj.id}}/report/{{song.id}}' >Wrong link !</a></span>
									{% endif %}
								{% endif %}	
							</div></div>	
												
							<span class="playerLinks">
								<a href='#' onclick='showplayer({{song.songid}});return false;' id='link{{song.songid}}'>Listen to this song !</a>	
							</span>
							{% if song.reported %}
								<span id="reported">Reported by {{song.reportedby}}</span>
							{% endif %}	
							{% else %}
								{% if song.songid == None %}

								<span class="playerLinks"><span id='span{{song.id}}'><a href="#" onclick="check({{obj.id}},{{song.id}});return false;">Check Track Availability</a></span></span>
								<div id="checked{{song.id}}"></div>
								{% endif %}
							{% endif %}
						</li>
						<br>						
					{%endfor %}
				</ul>
				</div>
			</li>
		{% endif %}
		{% if obj.updatedon %}
		<br>
			<li>
				updated on : {{obj.updatedon}}
			</li>
		{% endif %}
		</ul>
		
		</div>
		<div>
			
			{%if isauth %}
			<div><span class="playerLinks"><a href="#" id="showcommentform">Add a Comment</a></span></div>
			<div id="commentform" style="display:none;">
				<form action='{{obj.id}}/comment' method='post' name='addcomment' id='addcomment'>
					{% csrf_token %}
					<label for='title'>Comment Title :</label>
					<input type='text' name='title' id='title' required />
					<br>
					
					<textarea name="body" id='body' cols='70' rows='5' required></textarea>
					<br>
					<input type='submit' value="add comment" />
				</form>
			</div>
			{% else %}
			<p>Log in to Add a Comment</p>
			{% endif %}		
			
				{% if comments %}
					<div><span class="playerLinks"><a href="#" id="showcomments">Hide Comments</a></span></div>
					<div id="comments">
					<ul>
						{% for comment in comments %}
						<li>
							<div class="detailsFields">
								<p>
								<span><b>{{comment.title}}</b></span> <span id="postedBy"><i>posted by {{comment.postedby}} :</i></span><br>
								<span>{{comment.body}}</span><br>
								<span id="postedBy">posted on : {{comment.postedon}}</span>
								</p>
							</div>						
						</li>
						{% endfor %}
					</ul>
					</div>
				{%endif%}
			
		</div>
		
		<script>
			function showplayer(id){
				$('#player'+id).toggle('fast');
				if($('#link'+id).html() == 'Listen to this song !'){
					$('#link'+id).html('Hide player')	
				}
				else{
					$('#link'+id).html('Listen to this song !')
				}
				
			}
			
		</script>
		<script>
			$(document).ready(function(){
				$('#showcomments').click(function(){
					$('#comments').toggle();
					if($('#showcomments').html() == 'Hide Comments'){
						$('#showcomments').html('Show Comments');
					}
					else{
						$('#showcomments').html('Hide Comments');
					}
					return false;
				});
				$('#showcommentform').click(function(){
					$('#commentform').toggle('fast');
					if($('#showcommentform').html() == 'Add a Comment'){
						$('#showcommentform').html('Hide Form');
					}
					else{
						$('#showcommentform').html('Add a Comment');
					}
					return false;
				});
			});
		</script>
		<script>
		$('.show-button').click(
			function showlogin(){
				$('#loginform').toggle('fast');
			});
			function check(gid,id){
				$('#checked' + id).load(gid + '/' + id + '/checktrack');
				$('#span' + id).html('');
			}
		</script>
	</body>
</html>
