<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<script type="text/javascript" src="/static/jquery.js"></script>
	<script type="text/javascript" src="/static/application.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<title>FindOST.com | Edit</title>
</head>

<body>
		<header>
			<a href='/home'><div id='header' class='center'></div></a>
		</header>
		
		
		<nav>
			<div id='menu'>
				<ul>
					<li>{{message}}</li>
					{% if isauth %}
					<li><a href="/logout">Log out</a></li>
					{% else %}
					<li><a href="#" onclick='showlogin()'>Log in</a><div id="loginform"></div></li>
					<li><a href="/showsubscribe">New User</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
		
		<div>
		<h2>Edit Information</h2>
		<h3>{{message2}}</h3>
		
		{% if id == '0' %}
		<form action='cancel' method='post' name='cancel' id='cancel'>
			{% csrf_token %}
			
			<input type="hidden" name="objid" id="objid" value="{{obj.id}}" />
			
			<input type ='submit' value='Cancel Add'>
		</form>
		{% endif %}
		
		
		<div class="detailsFields editFormFilm">
		<form action='save' name="edit" id="edit" method="post">
			{% csrf_token %}
			
			<input type="hidden" name="objid" id="objid" value="{{obj.id}}" />
			
			<ul id='formlabels' class="editFormLabels">
				<li><label for="title">Title</label></li>
				<li><label for="otitle">Original Title</label></li>
				<li><label for="director">Director</label></li>
				<li><label for="producer">Producer</label></li>
				<li><label for="composer">Original Music Composer</label></li>
				<li><label for="imageurl">Image URL</label></li>
				<li><label for="trailerurl">Trailer URL</label></li>
				<li><label for="language">Language</label></li>
				<li><label for="yearout">Came Out On </label></li>
				<li><label for="genre">Genre</label></li>
			</ul>
			
			<ul id="forminputs" class="editFormInputs">
			<li>
			{% if obj.title %}
			<input name="title" id="title" type="text" value="{{obj.title}}" required/>
			{% else %}
			<input name="title" id="title" type="text" required/>			
			{% endif %}
			</li>
			
			<li>
			{% if obj.otitle %}
			<input name="otitle" id="otitle" type="text" value="{{obj.otitle}}" />
			{% else %}
			<input name="otitle" id="otitle" type="text" />			
			{% endif %}
			</li>
			
			<li>
			{% if obj.director %}
			<input name="director" id="director" type="text" value="{{obj.director}}" />
			{% else %}
			<input name="director" id="director" type="text" />			
			{% endif %}
			</li>
			
			<li>
			{% if obj.producer %}
			<input name="producer" id="producer" type="text" value="{{obj.producer}}" />
			{% else %}
			<input name="producer" id="producer" type="text" />			
			{% endif %}
			</li>
			
			<li>
			{% if obj.composer %}
			<input name="composer" id="composer" type="text" value="{{obj.composer}}" />
			{% else %}
			<input name="composer" id="composer" type="text" />			
			{% endif %}
			</li>
			
			<li>		
			{% if obj.imageurl %}
			<input name="imageurl" id="imageurl" type="text" value="{{obj.imageurl}}" />
			{% else %}
			<input name="imageurl" id="imageurl" type="text" />			
			{% endif %}
			</li>
			
			<li>
			{% if obj.trailerurl %}
			<input name="trailerurl" id="trailerurl" type="text" value="{{obj.trailerurl}}" />
			{% else %}
			<input name="trailerurl" id="trailerurl" type="text" />			
			{% endif %}
			</li>
			
			<li>
			{% if obj.language %}
			<input name="language" id="language" type="text" value="{{obj.language}}" />
			{% else %}
			<input name="language" id="language" type="text" />			
			{% endif %}
			</li>
			
			<li>
			{% if obj.cameouton %}
			<input name="yearout" id="yearout" type="text" value="{{obj.cameouton}}" />
			{% else %}
			<input name="yearout" id="yearout" type="text" />			
			{% endif %}
			</li>
			
			<li>
			{% if obj.genre %}
			<input name="genre" id="genre" type="text" value="{{obj.genre}}" />
			{% else %}
			<input name="genre" id="genre" type="text" />			
			{% endif %}
			</li>			
			</ul>
			</div>
			<div id="actors" class="detailsFields">
			<p>Actors</p>
	
				<div class="actor">
					<input name="actor1" id="actor1" type="text"/>
				</div>
			</div>
			
			<div id="songs" class="detailsFields">
			<p>Songs</p>
				<div class="song">
					<input name="songtitle1" id="songtitle1" type="text"/><span>by</span><input name="songartist1" id="songartist1" type="text"/>
				</div>
			</div>
			<br>
			
			<div>
			<input type='submit' value='Save Changes'/>
			</div>
		</form>
		
		<div id='temp' style='display:none;'></div>
		<div id='temp2' style='display:none;'></div>
		</div>		
		<script>
			function fillSong(title,artist){
				$('.song').children().last().val(artist);
				$('.song').children().last().siblings('input').last().val(title);
						
					
				}
			function fillActor(actor){
				$('.actor').children().last().val(actor);	
			}
				
			$(document).ready(function() {

				$("#actors").autoAddingTextFields("actor");
				$("#songs").autoAddingTextFields("song");
				
				{% for actor in obj.mainactors.all%}
					$('#temp').html("{{actor.name}}");
					fillActor($('#temp').html());
					$('.actor').children().last().trigger('input');
				{% endfor %}
				{% for actor in obj.show.mainactors.all%}
					$('#temp').html("{{actor.name}}");
					fillActor($('#temp').html());
					$('.actor').children().last().trigger('input');
				{% endfor %}
				
				{% for song in obj.songs.all %}
					$('#temp').html("{{song.title}}");
					$('#temp2').html("{{song.artist.name}}");					
					
					
					var title = $('#temp').html();
					var artist = $('#temp2').html();
					fillSong(title,artist);
					$('.song').children().last().trigger('input');
				{% endfor %}
				
				$('#temp').html('');
				$('#temp2').html('');
			}); 
		</script>
	
	</body>
</html>
