<!DOCTYPE html>
<html lang="en">


<head>
		<script type="text/javascript" src="/static/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<title>FindOST.com | Home</title>
</head>

<body>
	<header>
		<a href='/home'><div id='header' class='center'></div></a>
	</header>
				
	<nav>
		<div id='menu'>
			<ul>
				<li><b>{{message}}</b></li>
				{% if isauth %}
				<li><a href="/logout"><b>Log out</b></a></li>
				{% else %}
				<li><a href="#" class='show-button'><b>Log in</b></a><div id="loginform" style="display:none;"><div id="loginscroll">
				<form action='/login' method='post' name='loginform' id='loginform'>
					{% csrf_token %}
					<p>
						<label for="username">User Name</label>
						<input name="username" id="username" type="text" required />

						<label for="passwd">Password</label>
						<input name="passwd" id="passwd" type="password" required />

						<input name="path" id="path" type="hidden" value="{{path}}" />

						<input type="submit" value="log in"/>
					</p>
				</form>
				</div></div></li>
				<li><a href="/showsubscribe"><b>New User</b></a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
		
		
	<div id="content">
		<div id="mainContent">
			<section>
				<form name="form">
					{% csrf_token %}
					<div id="homeForm">
					<input type="text" autocomplete="off" id="search" placeholder="Find an OST" onkeyup="display()"></input>
					</div>
				</form>
				<div id="options">
				</div>
			</section>
			<section>
				<div id="results"></div>
			</section>
		</div>
		
		<aside>
			<section>
				<header>
					<div><h3>Latest movies updated</h3></div>
				<header>
				<ul>
					{% for film in lastfilms %}
					<li>
						<section>
							{% if film.imageurl %}
							<img id='{{film.id}}' src='{{film.imageurl}}' width="50px" height="50px"/>
							{% else %}
							<img id='{{film.id}}' src='/static/img/unknown.jpg'/>
							{% endif %}
							<div class="description">
							<a href="/findost/film/details/{{film.id}}" >{{ film.title }}</a><br/>
							came out in : {{film.cameouton}}
							</div>
						</section>
					</li>
					{% endfor %}
				</ul>
			</section>
		
			<section>
				<header>
					<div><h3>Latest episodes updated</h3></div>
				</header>
				<ul>
					{% for episode in lastepisodes %}
					<li>
						<section>
							{% if episode.imageurl %}
							<img id='{{episode.show.id}}' src='{{episode.imageurl}}' width="50px" height="50px"/>
							{% else %}
							<img id='{{episode.show.id}}' src='/static/img/unknown.jpg'/>
							{% endif %}
							<div class='description'>
								<a href="/findost/episode/details/{{episode.id}}" >{{ episode.show.title }}</a><br/>
								season {{ episode.seasonnb }} episode {{ episode.number }}
							</div>
						</section>
					</li>
					{% endfor %}
				</ul>
			</section>
		</aside>
	</div>
		<script>
			function display(){
				txt = $('#search').val();
				$('#results').load('findost/results?query=' + encodeURIComponent(txt));
			}
		</script>
		<script>
		$('.show-button').click(
			function showlogin(){
				$('#loginform').toggle('fast');
			});
		</script>
	</body>
</html>
