<!DOCTYPE HTML>
<html lang="en">


<head>
		<script type="text/javascript" src="/static/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<title>FindOST.com | {{show.title}}</title>
</head>

<body>
	<header>
		<a href='/home'><div id='header' class='center'></div></a>
	</header>
		
	<nav>
		<div id='menu'>
			<ul>
				<li><b>{{message}}</b></li>
				{% if isauth %}
				<li><a href="/logout"><b>Log out</b></a></li>
				{% else %}
				<li><a href="#" class='show-button'><b>Log in</b></a><div id="loginform" style="display:none;"><div id="loginscroll">
				<form action='/login' method='post' name='loginform' id='loginform'>
					{% csrf_token %}
					<p>
						<label for="username">User Name</label>
						<input name="username" id="username" type="text" required />

						<label for="passwd">Password</label>
						<input name="passwd" id="passwd" type="password" required />

						<input name="path" id="path" type="hidden" value="{{path}}" />

						<input type="submit" value="log in"/>
					</p>
				</form>
				</div></div></li>
				<li><a href="/showsubscribe"><b>New User</b></a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
	
		<br>
		<br>
		<div>{{show.title}}</div>
		<div>
			<ul>
				{% if isauth %}
				<li>
					<a href='/findost/episode/details/0/edit?title={{show.title}}'>Add a New Episode</a>
				</li>
				{% endif %}
			{% for i in nbseason %}
				<li><a href='#' onclick='showepisodes({{i}});return false;'>season {{i}}</a><div id='season{{i}}'  class='notloaded' ></div></li>
			{% endfor %}
			</ul>
		</div>
		<script>
			function showepisodes(i){
				if ($('#season'+i).hasClass('notloaded')){
					$('#season'+i).load('{{show.id}}/episodes?season=' + i);
					$('#season'+i).removeClass('notloaded');
					$('#season'+i).toggle('slow');
					
						
				}
			
				$('#season'+i).toggle('slow');
						
			}
		</script>
		<script>
			$(document).ready(function(){
				$('body').css('width',$(window).width);
			})
		</script>
		<script>
		$('.show-button').click(
			function showlogin(){
				$('#loginform').toggle('fast');
			});
			function check(gid,id){
				$('#checked' + id).load(gid + '/' + id + '/checktrack');
				$('#span' + id).html('');
			}
		</script>
	</body>
</html>
